/*-----------------------------------------------------------------------
/*  COLOR STYLESHEET - GREEN
/*-----------------------------------------------------------------------

1. GLOBAL STYLES
        1.1 GENERAL STYLES
        1.2 TEXT COLOR

2. COMPONENTS
        2.4. SELECT BOXES CUSTOM

4. HOME
        4.1.  HERO Background Text

5. NAVIGATION

6. SECTION STYLES & COMPONENTS
        6.1. SECTION - PROFILE
        
        6.1.3. PROFILE PICTURE

        6.2. SECTION - PORTFOLIO

        6.2.1. MAGNIFIC POP UP CUSTOM

        6.3. SECTION - SERVICES

        6.5. SECTION - RESUME

        6.7. SECTION - SKILLS

        6.12. SECTION - CONTACT

        6.12.2. CONTACT DETAILS

7. MAP

8. FOOTER

/*---------------------------------------------------------------------*/



/*---------------------------------------------------------------------*/
/*  1. GLOBAL STYLES
/*  1.1 GENERAL STYLES
/*---------------------------------------------------------------------*/
body {
    background-color: darken($cod-gray, 5%);
    color: $white;
}

/*---------------------------------------------------------------------*/
/*  1.2. TEXT COLOR
/*---------------------------------------------------------------------*/
.text-grey {
    color: $silver-chalice;
}

.colored-text {
  color: $persian-green;
}






/*---------------------------------------------------------------------*/
/*  4. HOME
/*---------------------------------------------------------------------*/
header.hero .bg-img-table-cell .hero-text {
    /* color: darken($white, 1.5%); */
    color: rgba($white, 0.7);
}

header.hero .bg-img-table-cell .hero-text h1.small {
    color: $white;
}



/*---------------------------------------------------------------------*/
/* 6. SECTION
/*---------------------------------------------------------------------*/
.section .section-subtitle {
    color: $silver-chalice;
}

/*---------------------------------------------------------------------*/
/*  6.1. SECTION - PROFILE
/*---------------------------------------------------------------------*/
#profile {
    background-color: darken($cod-gray, 5%);
}
/*---------------------------------------------------------------------*/
/*  6.1.3. PROFILE PICTURE
/*---------------------------------------------------------------------*/
#profile .pp-wrapper .profile-picture.style-two .title {
    background-color: $mine-shaft;
}


/*---------------------------------------------------------------------*/
/*  6.3. SECTION - SERVICES
/*---------------------------------------------------------------------*/
#services {
    background-color: darken($cod-gray, 5%);
}

@media (min-width: 768px) {
    .services .item.dark-bg {
        background-color: darken($cod-gray, 5%);
    }
}

@media (min-width: 768px) {
    .services .item:after {
        border-right: 1px solid darken($mine-shaft, 1.5%);
    }
}

@media (min-width: 768px) {
    .services .item.top:before {
        border-bottom: 1px dashed darken($mine-shaft, 1.5%);
    }
}
/*---------------------------------------------------------------------*/
/*  6.5. SECTION - RESUME
/*---------------------------------------------------------------------*/
#resume {
    background-color: $cod-gray;
}

@media (min-width: 768px) {
    .panel-group.resume .resume-item:before {
        border-left: 1px dashed $tundora;
    }
}

.panel-group.resume .resume-item .panel {
    border: 1px solid $dove-gray;
}

.panel-group.resume .resume-item .resume-year {
  background-color: $mine-shaft;
}

/*---------------------------------------------------------------------*/
/*  6.7. SECTION - SKILLS
/*---------------------------------------------------------------------*/
#skills {
    background-color: darken($cod-gray, 5%);
}

.circle-chart .item > .percent {
  background-color: $persian-green;
}

.circle-chart .item > .circle {
    background-color: $silver-chalice;
}

.circle-chart .item > .circle > .item-progress:before {
    background-color: $mine-shaft;
}

.circle-chart .item > .percent {
    @include box-shadow(3px, 3px, 10px, darken($cod-gray, 5%));
}


