/*-----------------------------------------------------------------------
/*  COLOR STYLESHEET - GREEN
/*-----------------------------------------------------------------------

1. GLOBAL STYLES
        1.1 GENERAL STYLES
        1.2 TEXT COLOR

2. COMPONENTS
        2.4. SELECT BOXES CUSTOM

4. HOME
        4.1.  HERO Background Text

5. NAVIGATION

6. SECTION STYLES & COMPONENTS
        6.1. SECTION - PROFILE
        
        6.1.3. PROFILE PICTURE

        6.2. SECTION - PORTFOLIO

        6.2.1. MAGNIFIC POP UP CUSTOM

        6.3. SECTION - SERVICES

        6.5. SECTION - RESUME

        6.7. SECTION - SKILLS

        6.12. SECTION - CONTACT

        6.12.2. CONTACT DETAILS

7. MAP

8. FOOTER

/*---------------------------------------------------------------------*/



/*---------------------------------------------------------------------*/
/*  1. GLOBAL STYLES
/*  1.1 GENERAL STYLES
/*---------------------------------------------------------------------*/
body {
    background-color: darken($cod-gray, 5%);
    color: $white;
}

/*---------------------------------------------------------------------*/
/*  1.2. TEXT COLOR
/*---------------------------------------------------------------------*/
.text-grey {
    color: $silver-chalice;
}

.colored-text {
  color: $persian-green;
}






/*---------------------------------------------------------------------*/
/*  4. HOME
/*---------------------------------------------------------------------*/
header.hero .bg-img-table-cell .hero-text {
    /* color: darken($white, 1.5%); */
    color: rgba($white, 0.7);
}

header.hero .bg-img-table-cell .hero-text h1.small {
    color: $white;
}

/*---------------------------------------------------------------------*/
/*  5. NAVIGATION
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top {
    background-color: $cod-gray;
    border-bottom: 1px solid $thunder;
}

.navbar.navbar-fixed-top .navbar-container {
    background-color: $cod-gray;
}

.navbar.navbar-fixed-top .navbar-brand {
    color: $silver-chalice;
}

.navbar.navbar-fixed-top .navbar-nav > li > a {
    color: $silver-chalice;
}

.navbar.navbar-fixed-top .navbar-nav > li > a:focus,
.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
    background-color: $cod-gray;
    color: $white;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a {
  background-color: $cod-gray;
  color: $persian-green;
  border-bottom: 1px solid $persian-green;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:hover {
  background-color: $cod-gray;
  color: $persian-green;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:focus {
  background-color: $cod-gray;
  color: $persian-green;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown > a:hover {
    color: $white;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a {
    background-color: $cod-gray;
    color: $white;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a:focus {
    background-color: $cod-gray;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a,
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a {
  color: $persian-green;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a:hover,
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a:hover {
  color: $persian-green;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
    background-color: $cod-gray;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a {
    color: $silver-chalice;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a:hover {
    background-color: $cod-gray;
    color: $white;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a:focus {
    background-color: $cod-gray;
    color: $silver-chalice;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a {
    background-color: $cod-gray;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a {
  color: $persian-green;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:hover,
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:focus {
    background-color: $cod-gray;
    color: $persian-green;
}

.navbar.navbar-fixed-top .navbar-toggle {
  background-color: $persian-green;
}

.navbar.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: $white;
}

@media (max-width: 991px) {
    .navbar.navbar-fixed-top .navbar-collapse {
        border-bottom: 1px solid $thunder;
    }
}



/*---------------------------------------------------------------------*/
/* 6. SECTION
/*---------------------------------------------------------------------*/
.section .section-subtitle {
    color: $silver-chalice;
}

/*---------------------------------------------------------------------*/
/*  6.1. SECTION - PROFILE
/*---------------------------------------------------------------------*/
#profile {
    background-color: darken($cod-gray, 5%);
}
/*---------------------------------------------------------------------*/
/*  6.1.3. PROFILE PICTURE
/*---------------------------------------------------------------------*/
#profile .pp-wrapper .profile-picture.style-two .title {
    background-color: $mine-shaft;
}

/*---------------------------------------------------------------------*/
/*  6.2. SECTION - PORTFOLIO
/*---------------------------------------------------------------------*/
#portfolio {
    background-color: $cod-gray;
}

/** Make wrapper gray before **/
.portfolio .item > .project-wrapper:before {
    background-color: rgba($dove-gray, 0.7);
}
/** Make wrapper opacity 100% for before on hover **/
.portfolio .item > .project-wrapper:hover:before {
    background-color: rgba($dove-gray, 0);
}

.portfolio .item > .project-wrapper > .project-link > a {
    color: $white;
}

.portfolio .item > .project-wrapper > .project-link > a.external-link {
  background-color: $persian-green;
}

.portfolio .item > .project-wrapper > .project-link > a.zoom {
    background-color: $mine-shaft;
}

/*---------------------------------------------------------------------*/
/*  6.2.1. MAGNIFIC POP UP CUSTOM
/*---------------------------------------------------------------------*/
.mfp-bg {
    background-color: darken($cod-gray, 5%);
}

/*---------------------------------------------------------------------*/
/*  6.3. SECTION - SERVICES
/*---------------------------------------------------------------------*/
#services {
    background-color: darken($cod-gray, 5%);
}

@media (min-width: 768px) {
    .services .item.dark-bg {
        background-color: darken($cod-gray, 5%);
    }
}

@media (min-width: 768px) {
    .services .item:after {
        border-right: 1px solid darken($mine-shaft, 1.5%);
    }
}

@media (min-width: 768px) {
    .services .item.top:before {
        border-bottom: 1px dashed darken($mine-shaft, 1.5%);
    }
}
/*---------------------------------------------------------------------*/
/*  6.5. SECTION - RESUME
/*---------------------------------------------------------------------*/
#resume {
    background-color: $cod-gray;
}

@media (min-width: 768px) {
    .panel-group.resume .resume-item:before {
        border-left: 1px dashed $tundora;
    }
}

.panel-group.resume .resume-item .panel {
    border: 1px solid $dove-gray;
}

.panel-group.resume .resume-item .resume-year {
  background-color: $mine-shaft;
}

/*---------------------------------------------------------------------*/
/*  6.7. SECTION - SKILLS
/*---------------------------------------------------------------------*/
#skills {
    background-color: darken($cod-gray, 5%);
}

.circle-chart .item > .percent {
  background-color: $persian-green;
}

.circle-chart .item > .circle {
    background-color: $silver-chalice;
}

.circle-chart .item > .circle > .item-progress:before {
    background-color: $mine-shaft;
}

.circle-chart .item > .percent {
    box-shadow: 3px 3px 10px darken($cod-gray, 5%);
}

/*---------------------------------------------------------------------*/
/*  6.12. SECTION - CONTACT
/*---------------------------------------------------------------------*/

#contact {
    background-color: darken($cod-gray, 5%);
}

/*---------------------------------------------------------------------*/
/*  6.12.2. CONTACT DETAILS
/*---------------------------------------------------------------------*/

#contact .contact-details .speech-bubble > i {
    color: $silver-chalice;
}

/*---------------------------------------------------------------------*/
/*  7. MAP
/*---------------------------------------------------------------------*/
#map > .address {
  background-color: $persian-green;
  border-bottom: 2px solid $pine-green;
}

/*---------------------------------------------------------------------*/
/*  8. FOOTER
/*---------------------------------------------------------------------*/
footer.footer {
    background-color: $cod-gray;
}

footer.footer .page-scroll > a {
    background-color: $persian-green;
    box-shadow: 0 3px 0 $pine-green;
    color: $white;
}


footer.footer ul.social-icons > li > .item {
    background-color: $mine-shaft;
    box-shadow: 0 3px 0 darken($mine-shaft, 2.5%);
}

footer.footer ul.social-icons > li > .item > a {
    color: darken($white, 50%);
}

footer.footer ul.social-icons > li > .item > a:hover {
   color: darken($white, 20%);
}
