/*-----------------------------------------------------------------------
/*  Index
/*-----------------------------------------------------------------------

1. GLOBAL STYLES (USED IN VARIOUS SECTION OF THE WEBSITE)
        1.1 GENERAL STYLES
        1.4 HEADING

2. COMPONENTS (ELEMENTS USED IN MANY SECTION)
        2.1. BUTTON

4. HOME
        4.1.  HERO Background Text

5. NAVIGATION
        5.1. NAVIGATION - CENTER MENU

6. SECTION STYLES & COMPONENTS

        6.1. SECTION - PROFILE
            6.1.1. PROFILE TEXT
            6.1.2. CONTACT DETAILS
            6.1.3. PROFILE PICTURE

        6.2. SECTION - PORTFOLIO
            6.2.1. MAGNIFIC POP UP CUSTOM
            6.2.2. MAGNIFIC POP UP CUSTOM - FADE EFFECT

        6.3. SECTION - SERVICES

        6.5. SECTION - RESUME

        6.7. SECTION - SKILLS

        6.12. SECTION - CONTACT
            6.12.2. CONTACT DETAILS

        6.13. SECTION - BLOG

7. MAP

8. FOOTER

-----------------------------------------------------------------------*/










/*---------------------------------------------------------------------*/
/*  4. HOME
/*---------------------------------------------------------------------*/

header.hero {    
    display: block;
}

@media (max-width: 991px) {
    header.hero {
        margin-top: 65px;
    }
}

@media (min-width: 992px) {
    header.hero {
        height: calc(100% - 65px);
    }
}

header.hero:before {
    position: absolute;
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header.hero .pattern-overlay {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-pattern.png');
    background-repeat: repeat;
}

@media (min-width: 480px) {
    header.hero .bg-img-table-cell {
        padding: 100px 50px;
    }
}

@media (min-width: 768px) {
    header.hero .bg-img-table-cell {
        padding: 50px;
    }
}

@media (min-width: 992px) {
    header.hero .bg-img-table-cell {
        padding: 0px;
    }
}

header.hero .bg-img-table-cell .hero-text h1 {
    @include font-size($font-size-48);
    font-weight: 700;
    letter-spacing: -4px;
}

@media (min-width: 600px) {
    header.hero .bg-img-table-cell .hero-text h1 {
        @include font-size($font-size-58);
    }
}

@media (min-width: 768px) {
    header.hero .bg-img-table-cell .hero-text h1 {
        @include font-size($font-size-68);
    }
}

header.hero .bg-img-table-cell .hero-text h1.small {
    @include font-size($font-size-45);
    font-weight: 400;
    letter-spacing: -1px;
}

@media (min-width: 600px) {
    header.hero .bg-img-table-cell .hero-text h1.small {
        @include font-size($font-size-58);
    }
}

@media (min-width: 768px) {
    header.hero .bg-img-table-cell .hero-text h1.small {
        @include font-size($font-size-66);
    }
}


header.hero .bg-img-table-cell .hero-text p {
    margin-top: 10px;
    @include font-size($font-size-20);
}

header.hero .bg-img-table-cell .hero-text .page-scroll {
    margin-top: 40px;
}


/*---------------------------------------------------------------------*/
/*  4.1. HERO Background Text
/*---------------------------------------------------------------------*/

header.hero.bg-img-container-image {    
    background-image: url('../images/bg-hero.png');
}

section#strengths.bg-img-container-image {
    background-image: url('../images/bg-strengths.png');
}

.bg-img-container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}
/*
Because of Safari and IOS display issues we need to declare 
background-attachment: scroll for mobile view. 
We will only do the fixed background for desktop mode.
*/
@media (max-width: 768px) {
    .bg-img-container {
        background-attachment: scroll;
    }
}
.bg-img-table-container {
    display: table;
    width: 100%;
    height: 100%;
}


.bg-img-table-cell {
    position: relative;
    z-index: 15;
    display: table-cell;
    vertical-align: middle;
    padding: 80px 30px;
    @include transition(all 0.2s ease-in-out);
}




/*---------------------------------------------------------------------*/
/* 6. SECTION
/*---------------------------------------------------------------------*/

.section .section-wrapper > .section-content {
    padding: 80px 0px;
}

@media (min-width: 768px) {
    .section .section-wrapper > .section-content {
        padding: 100px 0px;
    }
}

.section .section-title {
    margin-bottom: 20px;
    @include font-size($font-size-35);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section .section-subtitle {
    @include font-size($font-size-18);
    font-style: italic;
}

.section.bg-image-yes {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (min-width: 1280px) {
    .section.bg-image-yes {
        background-attachment: fixed;
    }
}

.section.bg-image-yes .container-fluid.section-wrapper {
    position: relative;
}

.section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .section.bg-image-yes .container-fluid.section-wrapper > .section-content {
        width: 1170px;
    }
}

.section.bg-image-yes .container-fluid.section-wrapper > .section-content:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


/*---------------------------------------------------------------------*/
/*  6.1. SECTION - PROFILE
/*---------------------------------------------------------------------*/

@media (min-width: 992px) {
    #profile .section-wrapper > .section-content {
        padding: 0px;
    }
}


/*---------------------------------------------------------------------*/
/*  6.1.1. PROFILE TEXT
/*---------------------------------------------------------------------*/

#profile .profile-text {
    text-align: center;
}

@media (min-width: 768px) {
    #profile .profile-text {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    #profile .profile-text {
        padding-top: 100px;
    }
    #profile .profile-picture {
        padding-top: 100px;
    }
}


#profile .profile-text h2 {
    text-transform: uppercase;
}


/*---------------------------------------------------------------------*/
/*  6.1.2. CONTACT DETAILS
/*---------------------------------------------------------------------*/

#profile .contact-details {
    margin-top: 30px;
}

@media (max-width: 767px) {
    #profile .contact-details {
        text-align: center;
    }
}

@media (min-width: 992px) {
    #profile .contact-details {
        padding-bottom: 100px;
    }
}

#profile .contact-details h4 {
    margin-bottom: 15px;
    @include font-size($font-size-18);
    text-transform: uppercase;
}

@media (min-width: 480px) and (max-width: 767px) {
    #profile .contact-details h4 {
        @include font-size($font-size-22);
    }
}

#profile .contact-details ul.list-unstyled > li {
    padding: 2px 0px;
    @include font-size($font-size-16);
}

@media (min-width: 480px) and (max-width: 767px) {
    #profile .contact-details ul.list-unstyled > li {
        padding: 5px 0px;
        @include font-size($font-size-20);
    }
}

#profile .contact-details a.btn-custom {
    margin-top: 20px;
}

@media (min-width: 768px) {
    #profile .contact-details a.btn-custom {
        margin-top: 50px;
    }
}

@media (min-width: 992px) {
    #profile .contact-details.padding-right-yes {
        padding-right: 20px;
    }
}

@media (min-width: 992px) {
    #profile .contact-details.padding-left-yes {
        padding-left: 20px;
    }
}


/*---------------------------------------------------------------------*/
/*  6.1.3. PROFILE PICTURE
/*---------------------------------------------------------------------*/

#profile .pp-wrapper {
    position: relative;
}

#profile .pp-wrapper .profile-picture h4 {
    text-transform: uppercase;
}

#profile .pp-wrapper .profile-picture.style-one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#profile .pp-wrapper .profile-picture.style-two img {
    margin-top: 100px;
}

#profile .pp-wrapper .profile-picture.style-two .title {
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}






/*---------------------------------------------------------------------*/
/*  6.3. SECTION - SERVICES
/*---------------------------------------------------------------------*/

@media (min-width: 768px) {
    .services {
        margin-top: 30px;
    }
}

.services .item {
    padding: 0px;
}

@media (max-width: 767px) {
    .services .item {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .services .item:after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
    }
}

.services .item > .inner-content {
    position: relative;
    padding: 25px 15px 15px 15px;
}

@media (min-width: 480px) {
    .services .item > .inner-content {
        padding: 25px 78px 15px 78px;
    }
}

@media (min-width: 640px) {
    .services .item > .inner-content {
        padding: 25px 118px 15px 118px;
    }
}

@media (min-width: 768px) {
    .services .item > .inner-content {
        padding: 25px 28px 15px 28px;
    }
}

.services .item > .inner-content > i {
    @include font-size($font-size-38);
}

.services .item > .inner-content > h4 {
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services .item > .inner-content > p {
    margin: 0px;
    margin-top: 8px;
}

@media (min-width: 768px) {
    .services .item.top:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }
}

@media (min-width: 768px) {
    .services .item.top > .inner-content {
        padding: 15px 28px 25px 28px;
    }
}


/*---------------------------------------------------------------------*/
/*  6.5. SECTION - RESUME
/*---------------------------------------------------------------------*/
#resume h3 {
    text-align: center;
}

@media (min-width: 768px) {
    #resume h3 {
        text-align: left;
    }
}

#resume .education {
    margin-top: 30px;
}

#resume .work-experience {
    margin-top: 50px;
}

.panel-group.resume {
    position: relative;
    margin-top: 30px;
}

.panel-group.resume .resume-item {
    position: relative;
    margin-bottom: 40px;
}

@media (min-width: 568px) {
    .panel-group.resume .resume-item {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .panel-group.resume .resume-item:before {
        position: absolute;
        content: '';
        width: 1px;
        height: calc(100% + 20px);
        top: 0;
        left: 170px;
    }
}

.panel-group.resume .resume-item:last-child {
    margin-bottom: 0px;
}

.panel-group.resume .resume-item:last-child:before {
    display: none;
}

.panel-group.resume .resume-item .resume-year {
    display: block;
    position: relative;
    width: 120px;
    height: 40px;
    margin-bottom: -20px;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    @include roundcorners(4px);
}

@media (min-width: 568px) {
    .panel-group.resume .resume-item .resume-year {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
}


.panel-group.resume .resume-item .panel {
    padding: 10px;
    width: 100%;
    background: transparent;
    @include roundcorners(0px);
}

@media (min-width: 568px) {
    .panel-group.resume .resume-item .panel {
        width: calc(100% - 140px);
        margin-left: 140px;
    }
}

@media (min-width: 768px) {
    .panel-group.resume .resume-item .panel {
        width: calc(100% - 210px);
        margin-left: 210px;
    }
}

.panel-group.resume .resume-item .panel .panel-heading {
    position: relative;
}

.panel-group.resume .resume-item .panel .panel-heading .panel-title {
    text-transform: uppercase;
}

@media (max-width: 567px) {
    .panel-group.resume .resume-item .panel .panel-heading .panel-title {
        padding-top: 20px;
    }
}

.panel-group.resume .resume-item .panel .panel-collapse .panel-body {
    padding-top: 5px;
    border-top: none;
}

.panel-group.resume .resume-item .panel .panel-collapse .panel-body p {
    margin-bottom: 0px;
}


/*---------------------------------------------------------------------*/
/*  6.7. SECTION - SKILLS
/*---------------------------------------------------------------------*/

#skills .section-wrapper > .section-content {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    #skills {
        padding-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .circle-chart {
        margin-top: -30px;
    }
}

.circle-chart .item {
    margin-top: 70px;
    margin-bottom: 70px;
}

@media (min-width: 768px) {
    .circle-chart .item {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.circle-chart .item > .circle {
    position: relative;
    margin: 0 auto;
    padding: 6px;
    width: 120px;
    height: 120px;
    @include roundcorners(50%);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.circle-chart .item > .circle > .item-progress {
    display: inline-block;
    position: relative;
    width: 108px;
    height: 0px;
    overflow: hidden;
}

.circle-chart .item > .circle > .item-progress:before {
    display: block;
    content: "";
    width: 108px;
    height: 108px;
    @include roundcorners(106px);
}

.circle-chart .item > .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-top: -40px;
    margin-left: -20px;
    @include font-size($font-size-14);
    font-weight: 700;
    text-align: center;
    @include roundcorners(4px);
}

.circle-chart .item > h4 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}




