/*---------------------------------------------------------------------*/
/*  6.1. SECTION - PROFILE
/*---------------------------------------------------------------------*/
@media (min-width: 768px) {
    #profile .profile-text {
        text-align: justify;
    }
}

/*---------------------------------------------------------------------*/
/*  6.1.2. CONTACT DETAILS
/*---------------------------------------------------------------------*/
@media (max-width: 767px) {
    #profile .contact-details {
        text-align: center;
    }
}

@media (min-width: 768px) {
    #profile .contact-details a.btn-custom {
        margin-top: 50px;
    }
}

