/*---------------------------------------------------------------------*/
/*  6.7. SECTION - SKILLS
/*---------------------------------------------------------------------*/
#skills {
    background-color: darken($cod-gray, 5%);
}



/*---------------------------------------------------------------------*/
/*  6.7. SECTION - SKILLS
/*---------------------------------------------------------------------*/

#skills .section-wrapper > .section-content {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    #skills {
        padding-bottom: 60px;
    }
}
