



@mixin text-shadow( $top: 3px, $left: 3px, $blur: 3px , $colour: $black) {
  -webkit-text-shadow:$top $left $blur $colour; 
  -moz-text-shadow:$top $left $blur $colour; 
  -o-text-shadow:$top $left $blur $colour; 
  text-shadow:$top $left $blur $colour; 
}

// @include box-shadow(3px, 3px, 4px, $black) 
@mixin box-shadow($top: 3px, $left: 3px, $blur: 4px, $colour: $black, $inset:"") {
  -webkit-box-shadow: #{$inset} $top $left $blur $colour;
  -moz-box-shadow:  #{$inset} $top $left $blur $colour;
  box-shadow: #{$inset} $top $left $blur $colour;
}


