/*---------------------------------------------------------------------*/
/*  BUTTON Styles
/*---------------------------------------------------------------------*/



/*---------------------------------------------------------------------*/
/*  LARGE BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom {
    background-color: $persian-green;
    color: $white;
    box-shadow: 0 3px 0 darken($pine-green, 1.5%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include roundcorners(4px);
}

.btn.btn-custom:hover {
    background-color: $teal;
}

.btn.btn-custom > i {
    padding-right: 2px;
}

@media (max-width: 767px) {
    .btn.btn-custom {
        padding: 6px 12px;
        @include font-size($font-size-1); 
        line-height: 1.42857143;
    }
}


/** Make button full width of container **/
@media (max-width: 767px) {
    .btn.btn-custom {
        display: block;
    	width: 100%;
    }
}


/*---------------------------------------------------------------------*/
/*  Circle BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom.btn-circle {
    width: 48px;
    height: 48px;
    line-height: 46px;
    padding: 0;
    @include roundcorners(50%);
    box-shadow: none;
    background-color:red;
    color:green;
}

.btn.btn-sm.btn-custom.btn-circle {
    width: 40px;
    height: 40px;
    line-height: 38px;
}

.btn.btn-lg.btn-custom.btn-circle {
    width: 54px;
    height: 54px;
    line-height: 52px;
}
