/*---------------------------------------------------------------------*/
/*  Colors
/*  NOTE: Color names come from website:
/*  http://chir.ag/projects/name-that-color/#A1A1A1
/* 
/*---------------------------------------------------------------------*/
$persian-green: #00a69a;
$cod-gray: #171717;
$thunder: #282428;
$white: #ffffff;

/*---------------------------------------------------------------------*/
/*  Image Paths
/*---------------------------------------------------------------------*/
// $image-path: '../img' !default;
// $fallback-extension: 'png' !default;
// $retina-suffix: '@2x';