/*---------------------------------------------------------------------*/
/*  Colors
/*  NOTE: Color names come from website:
/*  http://chir.ag/projects/name-that-color/#A1A1A1
/*  tips: https://davidwalsh.name/sass-color-variables-dont-suck
/*---------------------------------------------------------------------*/

$dove-gray: #6E6E6E;
$cod-gray: #171717;
$silver-chalice: #a1a1a1;
$thunder: #282428;
$mine-shaft: #2e2e2e;
$tundora: #484848;
$black: #000000;
$white: #ffffff;
$persian-green: #00a69a;
$teal: #008d82;
$pine-green: #00736b;


/*---------------------------------------------------------------------*/
/*  Font size
/*---------------------------------------------------------------------*/
$base-font-size: 16px !default;
$font-size-1: 30px;
//$font-size-2: 16px;

/*---------------------------------------------------------------------*/
/*  Image Paths
/*---------------------------------------------------------------------*/
// $image-path: '../img' !default;
// $fallback-extension: 'png' !default;
// $retina-suffix: '@2x';